:root {
    --main_font: "Source Sans Pro", sans-serif;
    --link_colour: #27408b;
    --err_colour: #960019;
}

a {
    color: var(--link_colour);
}

body {
    font-family: var(--main_font);
}

html {
    margin-top: 10px;
}

input {
    margin: 5px 0 5px 0;
}

label.control-label, .selectize-control.single {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

label.control-label {
    padding-right: 10px;
}

.container-fluid {
    max-width: 1000px;
    margin: 0 auto;
}

.modal-open {
    padding-right: 0 !important;
}

.form-group {
    display: table-row;
}

.selectize-control.single div.item {
    padding-right: 15px;
}


.selectize-dropdown.single {
    width: 180px !important;
}

.sideheading {
    text-align: center;
    font-size: 12px;
    margin-bottom: -20px;
}

.nav {
    margin-bottom: 5px;
}

.right_end {
    padding: 0;
}

.error_txt {
    color: var(--err_colour);
    display: inline;
}

.error_txt_hide {
    display: none;
}

.delete_button {
    background-color: darkred;
    color: white;
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
    display: block;
    position: relative;
}

#date {
    position: relative;
}


#mainhead {
    text-align: center;
    font-size: 18pt;
    font-weight: 600;
}

.side_totals {
    text-align: center;
    background-color: #f0f0f0;
    color: #202020;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

#newrun-pace {
    font-family: var(--main_font);
    border: none;
    margin-top: 10px;
}

#newrun-newrun,
#newroute-addroute {
    float: right;
    display: table-cell;
}

#newroute_modal_main .form-control {
    margin-bottom: 5px;
}

#newroute-route_file_progress {
    display: none;
}

#route_save {
    margin-top: 10px;
}

#comment {
    margin-bottom: 10px;
}
